body {
    background-color: hsla(220, 13%, 18%, 1.0);
    color: hsla(28, 61%, 61%, 1.0);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

main {
    margin: 2em auto;
    width: 600px;
}

h1 {
    text-align: center;
}

label {
    display: flex;    
    justify-content: space-between;
    margin: 2em auto;
    text-transform: uppercase;
    width: 100%;
}

input[type="text"],
input[type="password"] {
    background-color: hsla(220, 13%, 30%, 1.0);
    border-radius: 4px;
    border: none;
    color: hsla(220, 13%, 75%, 1.0);
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 0 6px;
    width: 60%;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: hsla(220, 13%, 75%, 1.0);
    border-left: 4px solid hsla(220, 35%, 50%, 1.0);
    color: hsla(220, 13%, 10%, 1.0);
}

input[type="submit"] {
    background-color: hsla(95, 38%, 62%, 1.0);
    border-radius: 4px;
    border: none;
    color: hsla(220, 13%, 18%, 1.0);
    display: block;
    font-size: 1em;
    height: 2.5rem;
    margin: 2em auto;
    padding: 4px;
    text-transform: uppercase;
    width: 10rem;
}

input[type="submit"]:hover {
    background-color: hsla(95, 38%, 62%, 0.8);
}

input[type="submit"]:active {
    background-color: hsla(95, 38%, 62%, 0.6);
}

div.error {
    /* background-color: ; */
    /* width: 60%; */
    display: flex;
    height: 1.4em;
    justify-content: flex-end;
    margin-bottom: -1.6em;
    margin-top: -1.8em;
    width: 100%;
}

div.error p {
    /* text-transform: uppercase; */
    /* vertical-align: center; */
    background-color: rgb(221, 65, 80);
    border-radius: 4px;
    border: none;
    color: hsla(220, 13%, 100%, 0.8);
    font-size: .9em;
    letter-spacing: 1px;
    margin: 0;
    padding: 2px 6px 2px;
    text-transform: uppercase;
    width: 60%;
}
