{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post" action="/">
        <label>
            Username
            <input type="text" name="username" value="{{ username }}">
        </label>

        <div class="error">
            {% if username_error %}
            <p class="error">Username is required</p>
            {% endif %}
        </div>
        
        <label>
            Email (optional)
            <input type="text" name="email" value="{{ email }}">
        </label>

        <div class="error">
            {% if error_email %}
            <p class="error">{{ error_email }}</p>
            {% endif %}
        </div>

        <label>
            Password
            <input type="password" name="password">
        </label>

        <div class="error">
            {% if error == "password-empty" %}
            <p class="error">Password is required.</p>
            {% endif %}
        </div>

        <label>
            Verify Password
            <input type="password" name="verify">
        </label>

        <div class="error">
            {% if error == "verify-empty" %}
            <p class="error">Please enter your password again.</p>
            {% endif %}
        </div>

        <input type="submit" value="Sign Up">
    </form>

{% endblock %}
